{{extend 'layout.html'}}
{{block head}}
    <script type="text/javascript">
        $(function(){
            jQuery('#userAdminForm').submit(
                function() {
                    ajax('{{=URL(f='change_permissions', user_signature=True)}}',
                        ['department','user', 'submitter', 'supervisor', 'department_head', 'accounting', 'superapprover', 'superuser', 'packing_slip_uploader'],
                        ':eval',
                        {error:function(xhr,textStatus,errorThrown){if(xhr.status==401){window.location.reload(true)};}}
                    );
                return false;}
            )
        });
    </script>
{{end}}
<style>
    select{
        border: 1px solid #ced4da;
    }
</style>
{{=userAdminForm}}
