<!--TODO I NEED PRETTY!-->
{{if print_po:}}
<style media="print">
    @page{
        size: auto;
        margin: 0;
    }
</style>
<body style="display: flex; margin-left: 25px; margin-right: 25px; padding: 0; width: 100vw; height: 100vh; flex-direction: column;" id="body">
    <div style="display: flex; padding: 0; width:100%; margin: 30px" id="header">
        <div style="display: flex; margin-right: auto; flex-direction: column;">
            <img style="padding-bottom: 5px;" src="{{=URL('static', 'images/header.png')}}">
            <span style="font-size: .875em; text-align: center;">13611 B Street, Omaha, Nebraska</span>
            <span style="font-size: .875em; text-align: center;">402-334-7770</span>
        </div>
    </div>
    <div style="display: flex; padding-left: 5px; padding-right: 5px; width: 100%; flex-direction: row; margin-bottom: 20px;" id="topPanel">
        <table style="width: 55%; margin-right: auto; margin-right: 5px;">
            <tr>
                <td style="text-align: right;">Vendor:</td>
                <td>{{=vendor}}</td>
            </tr>
            <tr>
                <td style="text-align: right;">Confirmation Number:</td>
                <td>{{=confirmation}}</td>
            </tr>
            <tr>
                <td style="text-align: right;">Contact Number:</td>
                <td>{{=contact_number}}</td>
            </tr>
            <tr>
                <td style="text-align: right;">Contact Person:</td>
                <td>{{=contact_person}}</td>
            </tr>
            <tr>
                <td style="text-align: right;">Account Number:</td>
                <td>{{=account}}</td>
            </tr>
        </table>
        <table style="width: 35%; margin-right: auto; padding-right: 15px;">
            <tr>
                <td style="text-align: right;">Department:</td>
                <td>{{=department}}</td>
            </tr>
            <tr>
                <td style="text-align: right;">PO Number:</td>
                <td>{{=po_number}}</td>
            </tr>
            <tr>
                <td style="text-align: right;">Submission Date:</td>
                <td>{{=date}}</td>
            </tr>
            <tr>
                <td style="text-align: right;">Approved Vendor:</td>
                <td>{{=approved_vendor}}</td>
            </tr>
            <tr>
                <td style="text-align: right;">Sole Source:</td>
                <td>{{=sole_source}}</td>
            </tr>
        </table>
    </div>
    <div style="display: flex; padding: 0; width: 100%; flex-direction: column; margin-bottom: auto;">
        <table style="width: 100%;" cellspacing="0" id="po_items">
            <tr>
                <th style="border: 1px solid grey; border-bottom: 1px solid black;">Catalog/UPC</th>
                <th style="border: 1px solid grey; border-left: none; border-bottom: 1px solid black;">Product/Service/Description</th>
                <th style="border: 1px solid grey; border-left: none; border-bottom: 1px solid black;">Quantity</th>
                <th style="border: 1px solid grey; border-left: none; border-bottom: 1px solid black;">Price Per Unit</th>
                <th style="border: 1px solid grey; border-left: none; border-bottom: 1px solid black;">Item Total Price</th>
            </tr>
            {{for item in items:}}
                <tr>
                    <th style="font-size: .875em; text-align: center; border: 1px solid grey; border-top: none">{{=item['catalog']}}</th>
                    <th style="font-size: .875em; text-align: center; border: 1px solid grey; border-left: none; border-top: none">{{=item['description']}}</th>
                    <th style="font-size: .875em; text-align: center; border: 1px solid grey; border-left: none; border-top: none">{{=item['quantity']}}</th>
                    <th style="font-size: .875em; text-align: center; border: 1px solid grey; border-left: none; border-top: none">{{=item['price_per_unit']}}</th>
                    <th style="font-size: .875em; text-align: center; border: 1px solid grey; border-left: none; border-top: none">{{=item['extended_price']}}</th>
                </tr>
            {{pass}}
        </table>
        <div style="display: flex; margin-left: auto; flex-direction: row; padding-top: 10px;">
            <div style="display: flex; flex-direction: column; margin-left: auto;">
                <span style="margin-left: auto; padding-right: 10px;">Subtotal:</span>
                <span style="margin-left: auto; padding-right: 10px;">Freight:</span>
                <span style="margin-left: auto; padding-right: 10px;">Tax:</span>
                <span style="margin-left: auto; padding-right: 10px;">Total:</span>
            </div>
            <div style="display: flex; flex-direction: column;">
                <span id="po_subtotal">{{=subtotal}}</span>
                <span id="po_freight">{{=freight}}</span>
                <span id="po_tax">{{=tax}}</span>
                <span id="po_total">{{=total}}</span>
            </div>
        </div>
    </div>
    <div style="display: flex; padding: 0; width: 100%; flex-direction: column;" id="po_notes">
        <span>Submitter: {{=submitter}}</span>
        {{for approver in approvers:}}
            <span>{{=approver}}</span>
        {{pass}}
    </div>
</body>
<script>
    if(window.confirm("When printing a PDF, you will need to manually print any attachments.")){
        window.print();
    } else {
        window.location = "{{=URL(c='manageUserPO', vars=dict(po_number=po_number))}}"
    }

    window.onafterprint = function(){
        window.location = "{{=URL(c='manageUserPO', vars=dict(po_number=po_number))}}"
    }
</script>

    
{{else:}}
    {{if po_form != "":}}
        {{=H2(f'{po_state} PO #{po_number}')}}
    {{pass}}
    {{=po_form.custom.begin}}
    {{=po_form}}
    {{=po_form.custom.end}}

    {{if po_items != "":}}
    <!--TODO Iterate through this backwards (tail to head) instead of forwards (head to tail)-->
        {{for i, po_item in enumerate(po_items):}}
            {{=H4('PO Item %i' % (i + 1))}}
            {{=po_item}}
        {{pass}}
    {{pass}}
{{pass}}