.line-button {
    line-height: 1;
    height: min-content;
    font-family: none;
    font-size: small;
    padding: .5em;
    margin-left: .75em;
    background-color: rgb(240, 240, 240);

    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.file-attachment {
    margin-left: 2em;
}

form{
    width: 100%;
}