{{extend 'layout.html'}}
<link rel="stylesheet" type="text/css" href="{{=URL('static','css/posystem.css')}}">
<span><button onclick=window.history.back()>Back</button></span>
{{block head}}

<script>
    $(function(){
        po_vendor = $('#po_form_vendor');
        po_vendor.attr('oncomplete', 'vendorSelected($("#po_form_vendor").val())');
        $('#po_form_tax_percent').on('change', calculateTax);
        $('#po_form_freight').on('change', calculateTotal);
        $('input').not('.nav-item > form > input').on('keypress', (e) => {
            if (e.originalEvent.key === "Enter") {
                var focusable = $('input, textarea').filter(':visible').not('[disabled]').not('[readonly]').not('input[type="submit"]'), next;
                next = focusable.eq(focusable.index($(e.target))+1);
                if (next.length) next.focus();
                return false;
            }
        });
});

uploadedFiles = {};

function updateSubTotal(subtotal){
    subtotal = parseFloat(subtotal);
    // Expects a float
    // TODO(Mike): Fix rounding
    $("#subtotal").text('$'+subtotal.toFixed(2));
    calculateTotal();
}

function calculateTax(){
    // TODO(Mike): Fix rounding
    let subtotal = !(($('#subtotal').text() == undefined || $('#subtotal').text() == NaN || $('#subtotal').text() == '')) ? parseFloat($('#subtotal').text().replace('$', '')) : 0;
    let taxPercent = !($('#po_form_tax_percent').val() == undefined || $('#po_form_tax_percent').val() == NaN || $('#po_form_tax_percent').val() == '') ? parseFloat($('#po_form_tax_percent').val()) / 100.0 : 0;
    let tax = (subtotal * taxPercent).toFixed(2);
    $('#tax').text('$'+tax);
    calculateTotal();
}

function calculateTotal(){
    let subtotal = !(($('#subtotal').text() == undefined || $('#subtotal').text() == NaN || $('#subtotal').text() == '')) ? parseFloat($('#subtotal').text().replace('$', '')) : 0;
    let freight = !(($('#po_form_freight').val() == undefined || $('#po_form_freight').val() == NaN || $('#po_form_freight').val() == '')) ? parseFloat($('#po_form_freight').val()) : 0;
    let tax = !($('#tax').text() == undefined || $('#tax').text() == NaN || $('#tax').text() == '') ? parseFloat($('#tax').text().replace('$', '')) : 0;
    
    let total = (subtotal + tax + freight).toFixed(2);

    $('#total').text('$'+total);
}

function vendorSelected(vendor){
    $.ajax({
        method: "POST",
        url: '{{=URL(c='editPO', f='vendorLookup')}}',
        data: {
            vendor: vendor
        },
        success: updateVendorInfo
    });
}

function updateVendorInfo(vendorInfo){
    vendorInfo = JSON.parse(vendorInfo);
    $('#po_form_phone_num').val(vendorInfo.phone_num);
    $('#po_form_account_num').val(vendorInfo.account_num);
    $('#po_form_contact_person').val(vendorInfo.contact_person);
}


function addNewInput(inputName, containerName){
    $('#'+containerName)
    .parent()
    .append(
        $('<input id='+inputName+' type="file" style="display:none;"/>')
        .on('change', 
            function(){
                var acceptedFiles = [];
                for(var i = 0; i < this.files.length; i++){
                    file = this.files[i];
                    if(file._deletable === undefined){
                        file._deletable = true;
                    }
                    error = verifyFileCanBeUploaded(inputName, file);
                    if(!error){
                        acceptedFiles.push(file);
                        if(uploadedFiles[inputName] === undefined){
                            uploadedFiles[inputName] = [];
                        }
                        uploadedFiles[inputName].push(file.name);
                    }else{
                        alert(error);
                    }
                }
                if(acceptedFiles.length > 0){
                    this.files = createFileList(acceptedFiles);
                    onFileInputChange($(this), inputName, containerName, this.files);
                }
            }
        )
    )
}

function verifyFileCanBeUploaded(fileType, file){
    // returns null if we have no error, otherwise returns an error string to be displayed
    let fileSizeError = 'Unable to select '+file.name+' as the file is empty. Please select a different file';
    let duplicateError = 'Unable to select '+file.name+' as a file exists with the same name already. Please remove the existing file or select another file to upload';
    if(file._system_file != undefined){
        // Any files that are provided by the server to be displayed will have a 0 file size and as such, we tag them to allow them to be displayed
        return;
    }

    if(file.size === 0){
        // No empty files bub
        return fileSizeError;
    }

    if(uploadedFiles[fileType] === undefined){
        return;
    }
    if(uploadedFiles[fileType].indexOf(file.name) != -1){
        return duplicateError;
    }

    return;
}

function onFileInputChange(inheritInput, inputName, containerName, files){
    $('#'+containerName)
        .append(createNewFileChild(inheritInput, inputName, files));
        $(this).off('change'); 
        addNewInput(inputName, containerName);
}

function createNewFileChild(inheritInput, inputName, files){
    return (
        $('<div class="file-attachment">')
        .append(inheritInput.attr('id', null).attr('name', inputName))
        .append('<a href='+(inheritInput[0].href != undefined ? 
            inheritInput[0].href : 
            window.URL.createObjectURL(files[0]))+' target="_blank" multiple="multiple">'+files[0].name+'</a>')
        .append(!files[0]._deletable ? 
                '':
                ($('<a class="btn line-button">\u{2716}</a>')
                .click(
                    function(){
                        event.stopPropagation();
                        $(this).parent().remove();
                        fileIndex = uploadedFiles[inputName].indexOf(files[0].name)
                        uploadedFiles[inputName].splice(fileIndex, 1);
                        return false;
                    }
                ))
        )
    );
}

function createFileList(files){
    // https://stackoverflow.com/questions/52078853/is-it-possible-to-update-filelist/52079109
    // NOTE(Mike): I have no idea what this is, but it appears to create a new
    // FileList for us with a list of provided files. Example usage. The reason we are using
    // this is because the javascript overlords decided we cant just create a new
    // FileList object.
    /**
     * var files = [
            new File(['content'], 'sample1.txt'),
            new File(['abc'], 'sample2.txt')
        ];
        fileInput.files = new FileListItem(files)
        */
    a = files;
    a = [].slice.call(Array.isArray(a) ? a : arguments);
    for (var c, b = c = a.length, d = !0; b-- && d;) d = a[b] instanceof File
    if (!d) throw new TypeError("expected argument to FileList is File or array of File objects")
    for (b = (new ClipboardEvent("")).clipboardData || new DataTransfer; c--;) b.items.add(a[c])
    return b.files;
}

</script>

{{end}}

<!-- TODO(Mike): We need to set this up to move the po_items the right side of the screen and merge them back when the screen window shrinks -->
<!-- <div style="display: flex;"> -->
    <!-- <div style="display: flex;"> -->
    <!-- <div style="display: flex; width: 40vw;"> -->
        {{=po_form.custom.begin}}
        {{for key in po_form.custom.widget.keys():}}
            {{if key == 'items':}}
                {{=po_items}}
            {{elif key == 'last_modified':}}
                <input name="last_modified" style="display: none" value="{{=po_form.custom.widget[key]}}">
            {{else:}}
                <div class="form-group row">
                    <label class="form-control-label col-sm-3">
                        {{=po_form.custom.label[key]}}
                    </label>
                    {{if po_form.custom.widget[key] != '':}}
                        <div class="col-sm-9" id={{=key}}>
                            {{=po_form.custom.widget[key]}}
                    {{else:}}
                        <div id={{=key}}>
                            {{=po_form.custom.widget[key]}}
                    {{pass}}
                    </div>
                </div>
            {{pass}}
        {{pass}}
        {{=po_form.custom.submit}}
        {{=po_form.custom.end}}
    <!-- </div> -->
    <!-- <div style="display: flex; width: 60vw;"> -->
        {{=po_items}}
    <!-- </div> -->
<!-- </div> -->

<script>
{{for upload_type, files in po_attachments.items():}}
    {{if editable_attachment_fields == None or upload_type in editable_attachment_fields:}}
        addNewInput('{{=upload_type}}', '{{=upload_type}}_container');
    {{pass}}
    {{if len(files) > 0:}}
        {{for file in files:}}
            addNewInput('{{=upload_type}}', '{{=upload_type}}_container');
            var f = new File([''], '{{=file[0].components[0]}}');
            f._system_file = true;
            f._deletable = '{{=file[1]}}' === 'False' ? false : true;
            $('#{{=upload_type}}')[0].files = createFileList([f]);
            $('#{{=upload_type}}')[0].href = '{{=file[0].attributes["_href"]}}';
            $('#{{=upload_type}}').change();
            {{pass}}
        {{pass}}
    {{pass}}
{{pass}}
</script>
