{{extend 'layout.html'}}
{{try:}}
    {{if header is not None and header != "":}}
        {{=H5(header)}}
    {{pass}}
{{except:}}
    {{pass}}
{{pass}}
{{=poForm}}

<script>
    $(() => {
        $('.web2py_paginator').addClass('col d-flex');
        {{keywords = {'keywords': request.get_vars.keywords} if request.get_vars.keywords else {} }}
        const paginationList = $(`
            <ul class="mr-auto">
                <li><a href='{{=URL(f="index", vars={"pagination":"20", "filter": filter, **keywords})}}'>Show 20</a></li>
                <li><a href='{{=URL(f="index", vars={"pagination":"50", "filter": filter, **keywords})}}'>Show 50</a></li>
                <li><a href='{{=URL(f="index", vars={"pagination":"100", "filter": filter, **keywords})}}'>Show 100</a></li>
            </ul>
        `);
        $('.web2py_paginator').prepend(paginationList);
    })
</script>


{{if auth.has_permission('accounting', 'any') and filter == 'accounting':}}
<script>
    $(() => {
        {{import datetime}}
        const button = $('<button class="btn btn-secondary ml-5" id="loadReportButton" type="button">Load Weekly Report</button>');
        const url = `{{=URL(c='viewPOForms', f='index', user_signature=True, scheme=True, vars=dict(filter="accounting", keywords=f'po_form.status="6" and po_form.last_modified >= {datetime.date.today() - datetime.timedelta(days=7)}'))}}`
        $('.web2py_console > form').append(button);
        $('#loadReportButton').click((event) => {
            window.location.href = url;
            event.stopImmediatePropagation();
            event.stopPropagation();
            return true;
        })
        
        const checkallToggle = $('<input type=checkbox>');
        checkallToggle.click((event) => {
            if(event.target.checked){
                $('input[type=checkbox]').prop('checked', true);
            } else {
                $('input[type=checkbox]').prop('checked', false);
            }
        });
        $('.web2py_htmltable > table > thead > tr > th').first().append(checkallToggle);
        checkallToggle.click();
    });
</script>
{{pass}}